<form [ngFormModel]="form" (ngSubmit)="signup()">
    <div class="form-group">
        <label for="username">Username</label>
        <input
            #username="ngForm"
            ngControl="username" 
            id="username" 
            type="text" 
            class="form-control">
        <div *ngIf="username.control.pending">
            Checking for Uniqueness...
        </div>
        <div *ngIf="username.touched && username.errors">
            <div
                *ngIf="username.errors.required" 
                class="alert alert-danger">
                Username is required.
            </div>
            <div 
                class="alert alert-danger" 
                *ngIf="username.errors.cannotContainSpace">
                Username cannot contain space
            </div>
            <div
                *ngIf="username.errors.shouldBeUnique" 
                class="alert alert-danger">
                    This username is already taken.
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            #password="ngForm"
            ngControl="password"
            type="Password" 
            class="form-control" 
            id="password">
        <div
            *ngIf="!password.valid" 
            class="alert alert-danger">
            Password is required.
        </div>
    </div>
    <button class="btn btn-primary">Sign Up</button>
</form>